.title{
    font-size: 30px;
    /* text-align: center; */
    margin-top: 2px;
    margin-bottom: 20px;
    /* text-decoration: underline 4px; */
}


.questions-container{
    max-width: 400px;
    /* margin: 0 auto; */
    margin-top: 40px;
}

.question{
    /* border-bottom: 1px solid black; */
    
    border-radius: 15px;
    margin-bottom: 25px;
    
    /* margin-top: ; */
}
.question button{
    width: 100%;
    /* background-color: #white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border:none; */
    /* outline: none; */
    font-size: 18px;
    /* color: #fff; */
    cursor: pointer;
    font-weight: 600;
}
.question p{
    font-size: 16px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    /* overflow: hidden; */
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: black;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}













/* header page css */

header{
    position: sticky;
    top: 120px;
   width: 100%;
}
.left img{
    height: 30px;
    width: 150px;
}

.container{
    /* width: 100%; */
    margin: 0;
    height: 60px;
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 30px;
}
.container{
    max-width: 100%;
    padding-top:11px;
    margin: auto;
    /* border: 1px solid red; */
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

nav{
    max-width: 90%;
    margin: auto;
}

.right>button{
    
    font-size: 17px;
    border-radius: 5px;
}

.right>button:nth-child(1){
    padding: 12px;
    border: 1px solid #324fbe;
    background-color: white;
    color: #324fbe;
    font-weight: bold;
    /* margin-right: -5px; */
}
.right>button:nth-child(2){
    border: none;
    background-color: #324fbe;
    color: white;
    padding: 12px 16px;
    }

.flex{
    display: flex;
}


.item-centre{
    align-items: center ;
} 

.justify-centre{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.bold{
    font-weight: bold;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}