*{
    font-family: arial;
}

header{
    position: sticky;
    top: 0;
   
}
.left img{
    height: 30px;
    width: 150px;
}

.container{
    max-width: 90%;
    margin: auto;
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

.top{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    height: 70px;
    width: 100%;
    font-size: 19px;
    background-color: white;
}

.right>button{
    
    font-size: 20px;
    border-radius: 5px;
}

.right>button:nth-child(1){
    padding: 12px;
    border: 1px solid #324fbe;
    background-color: white;
    color: #324fbe;
    font-weight: bold;
}
.right>button:nth-child(2){
    border: none;
    background-color: #324fbe;
    color: white;
    padding: 15px;
}