
.flex{
    display: flex;
}


.item-centre{
    align-items: center ;
} 

.justify-centre{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.bold{
    font-weight: bold;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
